---
layout: home
permalink: /archives
adsense: false
---
{% assign years = site.wiki | sort: 'date' | reverse | group_by_exp:"item", "item.date | date: '%Y'" %}
<div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>
<div id="app">
    <br>
    {% for year in years %}
    <h1 class="indent">{{ year.name }}</h1>
    <ul class="post-list">
        {% for doc in year.items %}
        {% if doc.public != false and doc.title != 'wiki' and doc.layout != 'category' %}
        <li>
            <div>
                <a class="post-link" href="{{ doc.url }}">
                    <div class="post-meta">
                        <div class="title">{{ doc.title }}</div>
                        <div class="updated post-date">{{ doc.updated | date: "%b %d, %Y" }}</div>
                    </div>
                </a>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <br>
    {% endfor %}
</div>
{% include createLink.html %}
<script src="/js/scroll.js"></script>
