---
layout: home
adsense: false
---
<div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>
<div class="home">
    <p class="home-section-title">All Documents</p>
    <ul class="home-feed">
        {% assign documents = site.wiki | sort: 'updated' | reverse %}
        {% for doc in documents %}
        {% if doc.public != false and doc.title != 'wiki' and doc.layout != 'category' %}
        <li class="home-feed-item">
            <a class="home-feed-link" href="{{ doc.url | prepend: site.baseurl }}">
                <span class="home-feed-title">{{ doc.title }}</span>
                <time class="home-feed-date">{% include weekday.html d=doc.updated short=true %}, {{ doc.updated | date: "%b %d, %Y" }}</time>
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% include createLink.html %}
<script src="/js/scroll.js"></script>
