{% if page.comment != false %}
<div class="post-comments">
    {% if site.comment-support == "disqus" %}
    <br>
    <hr>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus.id }}'; // required: replace example with your forum shortname
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% endif %}
    {% if site.comment-support == "utterances" %}
    <br>
    <hr>
    <script src="https://utteranc.es/client.js"
            repo="{{ site.utterances.repo }}"
            {% if page.issue-number %}issue-number="{{ page.issue-number }}"{% else %}issue-term="{{ site.utterances.issue-term }}"{% endif %}
            label="{{ site.utterances.label }}"
            branch="{{ site.utterances.branch }}"
            async>
    </script>
    {% endif %}
    {% if site.comment-support == "giscus" %}
    <br>
    <hr>
    <script src="https://giscus.app/client.js"
            data-repo="{{ site.giscus.repo }}"
            data-repo-id="{{ site.giscus.repo-id }}"
            data-category="Comments"
            data-category-id="DIC_kwDOK2XgUs4Cdrot"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
    {% endif %}
</div>
{% endif %}