@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

body {
    margin: 0;
    height: 100%;
    max-width: 100vw; /* 화면 너비를 초과하지 않도록 설정 */
    overflow-x: hidden; /* 가로 스크롤을 숨김 */
  font: 400 16px 'Noto Sans',AppleSDGothicNeo,sans-serif;
  color: rgba(0, 0, 0, 0.84);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body, th, td, div, p, ul, li {
    word-break: break-all; /* 단어의 어느 지점에서든 줄바꿈을 허용 */
    overflow-wrap: break-word; /* 컨테이너를 넘어가는 긴 단어를 줄바꿈 */
}

$main-font-color: #4D5667;

p, li {
    color: $main-font-color;
}

a:link {
    color: #1F303C;
}
a:visited {
    color: #1F303C;
}

.post-content {
    line-height: 2;
}

blockquote {
    font-family: 'Noto Serif KR', serif;
    background: #FFFFFF;
    margin:0;
    padding: 1px 0px 1px 8px;
    border-left: 4px solid #CCCCCC;
    p {
        line-height: 2;
        color: $second-font-color;
    }
}
.hide {
    display: none;
}
.center {
    text-align: center;
}
.language-html table {
    background: transparent;
    margin: 0;
}
.language-html td {
    padding: 0;
    border: 0;

}

h1 {
    font-weight: normal;
}
h2,h3,h4,h5,h6 {
    font-weight: normal;
    color: #1F303C;
}

.post-content h1,h2,h3,h4,h5,h6 {
    &:before { color:$theme-color; }
}

h1 {
    font-size: clamp(1.4rem, 2.0vw, 1.8rem); /* 뷰포트에 따라 조정 */
    margin: 0px;
}
.post-content h1 {
    border-bottom: 1px solid $theme-color;
}
h2 {
    font-size: clamp(1.4rem, 2.0vw, 1.8rem);
    font-style: 'Noto Sans';
    border-bottom: 1px solid #d0d0d0;
}
.post-content h2 {
    /* &:before { content:"⠁"; } */
    // padding-top: 100px;
}
h3 {
    font-size: clamp(1.2rem, 1.8vw, 1.4rem);
    font-style: 'Noto Sans';
}
.post-content h3 {
    /* &:before { content:"⠃"; } */
    // padding-top: 25px;
}
h4 {
    font-size: clamp(1.0rem, 1.6vw, 1.2rem);
    padding-left: 5px;
    font-style: 'Noto Sans';
}
.post-content h4 {
    /* &:before { content:"⠋"; } */
    // padding-left: 10px;
}
h5 {
    font-size: clamp(0.8rem, 1.4vw, 1.0rem);
    padding-left: 15px;
    font-style: 'Noto Sans';
    padding-left: 10px;
}
.post-content h5 {
    /* &:before { content:"⠛"; } */
}
h6 {
    font-size: clamp(0.8rem, 1.4vw, 1.0rem);
    padding-left: 15px;
    font-weight: bold;
    font-style: 'Noto Sans';
}
.post-content h6 {
    /* &:before { content:"⠟"; } */
    // padding-left: 10px;
}

.post-content .external-link {
    &:after {
        content: url("/resource/icon/external-link.svg");
    }
}

.post-content .tagged-link {
    &:before { content:"#"; }
}

.link-checked {
    color: #FFFFFF;
    background-color: #BA55D3;
    border-radius: 3px;

    &:visited {
        color: #FFFFFF;
    }
}

mark {
    color: #275715;
    background-color: #dbedd4;
    border-radius: 3px;
}

.error-link {
    &:after {
        font-style: 'Noto Sans';
        color: red;
    }
}

.link-404 {
    @extend .error-link;
    &:after {
        content: "[404 Not Found]"
    }
}

.link-400 {
    @extend .error-link;
    &:after {
        content: "[400 Bad Request]"
    }
}

.link-408 {
    @extend .error-link;
    &:after {
        content: "[408 Request Timeout]"
    }
}

.link-500 {
    @extend .error-link;
    &:after {
        content: "[500 Internal Server Error]"
    }
}

video {
    max-width: 100%;
}

// 팝업 주석
sup[role=doc-noteref] {
    position: relative;

    a.footnote {
        position: relative;
        padding-bottom: 1em;
        text-decoration: none;

        &:before { content: "[" }
        &:after { content: "]" }
        &:hover {
            color: #df0000;
            & + .tooltiptext {
                color: red;
                // display: block; // create-link.js 에서 처리한다
            }
        }

        & + .tooltiptext {
            display: none;
            max-width: 800px;
            min-width: 300px;
            background-color: #ffffff;
            color: $main-font-color;
            text-align: left;
            border-radius: 7px;
            border: 1px solid #df0000;
            padding: 0px 12px 0px 12px;
            position: absolute;
            bottom: 1em;
            z-index: 1;
        }
    }
}

/* 맨 위로 버튼 스타일 */
#topBtn {
    display: none; /* 버튼은 기본적으로 숨겨져 있습니다 */
    position: fixed; /* 페이지에 고정되어 있습니다 */
    bottom: 20px; /* 하단에서 20px 위에 위치합니다 */
    right: 40px; /* 우측에서 30px 왼쪽에 위치합니다 */
    z-index: 99; /* 다른 요소들 위에 위치합니다 */
    border: none; /* 테두리는 없습니다 */
    outline: none; /* 외곽선도 없습니다 */
    background-color: #f7f7f7; /* 슬라이더 바의 배경색 */
    cursor: pointer; /* 마우스 오버시 커서가 변경됩니다 */
    padding: 10px; /* 내부 패딩은 10px입니다 */
    border-radius: 50%; /* 원형 모양을 만듭니다 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 버튼에 그림자를 추가합니다 */
    font-size: 16px; /* 폰트 크기는 16px입니다 */
    line-height: 20px; /* 라인 높이를 지정합니다 */
    text-align: center; /* 텍스트를 중앙으로 정렬합니다 */
    width: 50px; /* 버튼의 너비는 50px입니다 */
    height: 50px; /* 버튼의 높이는 50px입니다 */
    transition: bottom 0.5s ease; /* 부드러운 하강 효과를 위한 전환 속성 */
}

#topBtn:hover {
    background-color: #e8e8e8; /* 마우스 오버시 배경색을 변경합니다 */
}

#topBtn::before {
    display: block;
    font-size: 24px; /* 화살표 크기를 지정합니다 */
    margin-bottom: 5px; /* 텍스트와의 간격을 조정합니다 */
}