.wrapper {
    margin: 0 auto;
}
@media (max-width: 1120px) {
    .wrapper {
    }
}

@media (min-width: 800px) {
  body {
    width: 800px;
    margin: auto;
    // border: 0.1px solid #d0d0d0;
  }

  .progress-container {
    width: 100%; /* 화면 전체 너비로 설정 */
    position: fixed;
    top: 0;
    left: 0; /* 화면 왼쪽 끝에서 시작하도록 설정 */
    z-index: 1;
    background-color: #ffffff;
  }

  .progress-bar {
    height: 4px;
    background-color: #4994EC;
    width: 0;
    transition: 0.15s;
  }
}

.page-content {
    background:#FFFFFF;
    // padding: 30px 0;

    img {
        max-width:100%;
    }
}

.post {
    overflow-x: auto;
    padding: 5px;
}

@media (max-width: 1120px) {
    .page-content .wrapper:before {
        display: none;
    }
}

.footer {
    text-align: center; /* 링크를 중앙에 정렬 */
    padding: 20px; /* 상단 여백 추가 */
    margin-top: 40px; /* footer 위의 여백 추가 */
}

.social-media-links a {
    margin: 0 10px; /* 아이콘 사이의 간격 */
    color: #000; /* 아이콘 색상 */
    font-size: 16px; /* 텍스트와 아이콘의 크기 */
    display: inline-block;
    text-decoration: none; /* 링크 밑줄 제거 */
}

.social-media-links a:hover {
    color: #555; /* 마우스 오버 시 아이콘 색상 변경 */
}

.social-media-links i {
    margin-right: 5px; /* 아이콘과 텍스트 사이 간격 */
}

ul.tag-list {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
    }

    li a {
        padding-right: 5px;
        text-decoration: none;
    }
}

.post-link {
    text-decoration: none;
}

.no-text-deco {
    a {
        text-decoration: none;
    }
}

.section-nav {
  background-color: #FFF;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.pagination {
    text-align:center;

    a {
        font-size: 1em;
        margin: 2px;
        padding: 2px;
        text-decoration: none;
        border-radius: 10px;
        border: 0px solid $theme-color;
        background-color: $theme-color;
        color: #FFFFFF;
    }

    a.active {
        border: 0px solid transparent;
        background-color: transparent;
        color: #000000;
    }
}

.pagination li {
    display: inline-block;
}
.tag-list li {
    display: inline-block;
}

.post-excerpt {
    color: $forth-font-color;
}

.post-sub-document {
    color: #000000;
}
