/* 글 본문 상단의 메타데이터 */
.post-header {
    h2 {
        border: 0px;
    }
    p {
        margin: 0;
    }
    // 글의 제목
    .page-title a {
        text-decoration: none;
        // padding-left: 10px;
    }
}

/* 글 본문 상단의 메타데이터 */
.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px; /* 위쪽 패딩 추가 */
    padding-bottom: 5px; /* 아래쪽 패딩 추가 */
    font-size: clamp(0.8rem, 2vw, 1.0rem); /* 최소 0.8rem, 뷰포트 너비의 2%, 최대 1.0rem */
}

// 글의 해시태그
.post-tag {

    a {
        color: #888888;
        text-decoration: none;
    }
}

.post-tag-size {
    font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.post-date {
    font-size: 0.9em;
}

// 글 이력 버튼 (created, updated)
.history-button {
    text-align: right;
    font-size: 0.8em;
}

// 글의 부제목
.title-summary {
    font-size: 1.6em;
    color: gray;
}

