/* 토글 버튼 스타일링 */
.theme-toggle {
    display: flex; /* Flex container 설정 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: start; /* 아이템을 시작점(왼쪽)으로 정렬 */
    padding: 6px; /* 상하 여백 조정 */
    height: auto; /* 높이를 자동으로 설정하여 내용물에 맞춤 */
    line-height: normal; /* 기본 라인 높이 설정 */
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* 슬라이더 스타일링 */
.theme-toggle .slider {
    position: relative;
    width: 40px; /* 슬라이더의 길이 */
    height: 20px; /* 슬라이더의 높이 */
    background-color: #D2D2D2; /* 슬라이더 바의 배경색 */
    border-radius: 10px; /* 둥근 모서리 */
    margin-left: 3px; /* 아이콘과의 간격을 줄임 */
}

.theme-toggle .slider-circle {
    position: absolute;
    top: 50%; /* 원을 슬라이더 바의 중앙으로 이동 */
    left: 2px; /* 왼쪽 여백 */
    transform: translateY(-50%); /* 원을 수직으로 중앙 정렬 */
    width: 15px; /* 원의 크기 */
    height: 15px; /* 원의 크기 */
    background-color: white; /* 원의 배경색 */
    border-radius: 50%; /* 원형 모양 */
    transition: 0.4s; /* 애니메이션 효과 */
}

/* 슬라이더 내 SVG 아이콘 스타일링 */
.theme-toggle .feather {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; /* SVG 아이콘 크기 */
    height: 15px; /* SVG 아이콘 크기 */
}

.theme-toggle .feather-sun {
    right: 5px; /* 슬라이더 왼쪽에 해 아이콘 위치 조정 */
    fill: none; /* SVG 아이콘 내부 색상을 검정색으로 채움 */
    stroke: #ec5353;
}

.theme-toggle .feather-moon {
    left: 5px; /* 슬라이더 오른쪽에 달 아이콘 위치 조정 */
    display: none; /* 기본 상태에서 달 아이콘 숨김 */
    fill: #000000; /* SVG 아이콘 내부 색상을 검정색으로 채움 */
}

/* 다크 모드일 때 스타일 */
body.dark-mode .theme-toggle .slider .feather-moon {
    background-color: #F1C846; /* 다크 모드에서 슬라이더 바의 배경색 */
}

body.dark-mode .theme-toggle .feather-sun {
    display: none; /* 다크 모드에서 해 아이콘 숨김 */
}

body.dark-mode .theme-toggle .feather-moon {
    display: block; /* 다크 모드에서 달 아이콘 표시 */
    stroke: #000000; /* 달 아이콘의 선 색상을 검정색으로 설정 */
}

/* 다크 모드일 때 스타일 */
body.dark-mode .theme-toggle .slider {
    background-color: #F1C846; /* 다크 모드에서 슬라이더 바의 배경색 */
}

body.dark-mode .theme-toggle .light-icon {
    display: none; /* 다크 모드에서 해 SVG 아이콘을 숨김 */
}

body.dark-mode .theme-toggle .dark-icon {
    display: block; /* 다크 모드에서 달 FontAwesome 아이콘을 표시 */
}


:root {
    --dark-color: #1E1F22;
    --text-color: #F5F5F5;
    --text-sub-color: #A9A9A9;
}

body.dark-mode {
    background-color: var(--dark-color);
    color: var(--text-color);
}

body.dark-mode :not(pre):not(code) {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

body.dark-mode :not(pre):not(code):not(code *) {
    color: var(--text-color) !important;
}

body.dark-mode code.language-plaintext.highlighter-rouge {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

body.dark-mode .header,
body.dark-mode ul#markdown-toc {
    background-color: var(--dark-color) !important;
}

body.dark-mode .post-tag a {
    color: var(--text-sub-color) !important;
}

body.dark-mode .post-meta {
    color: #D5DDE6 !important;
}

/* 다크 모드일 때 슬라이더 바 배경색 변경 */
body.dark-mode .theme-toggle .slider {
    background-color: #F1C846;
}

body.dark-mode .progress-bar {
    height: 4px;
    background-color: #4ECCA3; /* 다크 모드에서의 프로그레스바 테마 색상 */
}

body.dark-mode .post {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #ffffff;
        margin-bottom: 10px;

        td, th {
            border: 1px solid $third-font-color;
            padding: 5px 5px;
        }
    }
}

body.dark-mode .history-button p,
body.dark-mode .history-button p span,
body.dark-mode .post-content p,
body.dark-mode .post-content ul li,
body.dark-mode #markdown-toc li a {
    color: #CED6DE !important;
}

body.dark-mode .post-content h2 {
    border-bottom: 1px solid #ffffff !important;
}

body.dark-mode .header {
    border-bottom: 1px solid #636e72 !important;
}