---
layout: document
---

{% assign thisName = page.id | remove: '/wiki/' %}
<input type="hidden" id="thisName" value="{{ thisName }}"/>
<div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>
<div class="post">
    <header class="post-header">
        <br>
        <h1 class="page-title">
            <a href="{{ page.url }}"> {{ page.title }} </a>
        </h1>
        {% if page.summary %}
        <p class="title-summary">{{ page.summary }}</p>
        {% endif %}
        <br>
        <div class="history-button">
            <p>Created: {{ page.date | date: '%Y.%m.%d' }}</p>
            <p>Updated: {{ page.updated | date: '%Y.%m.%d' }}</p>
            <p>Author: <a href="https://github.com/{{ site.github_username}}">{{ site.author }}</a></p>
            <p><span class="eta"></span></p>
        </div>
        {% raw %}
        <div id="parent-list"></div>
        {% endraw %}

        {% if page.tags %}
        {% include post-tags.html %}
        {% endif %}

        <br>
        <hr>
        <br>


    </header>
    <article class="post-content">
        {{ content }}
    </article>

    <br/>

    {% if page.comment != false %}
    {% include comment.html %}
    {% endif%}

</div>
{% include createLink.html %}
{% include createTable.html %}

<script src="/js/axios.min.js"></script>
<script async src="/js/parent.js"></script>
<script async src="/js/toc-highlight.js"></script>
<script src="/js/reading-time.js"></script>
<script src="/js/scroll.js"></script>
<script src="/js/article.js"></script>

